@import url("https://fonts.googleapis.com/css2?family=Montserrat");

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: rgba(174, 243, 174, 0.3);
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

.container {
  max-width: 500px;
}

h3 {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 20px 0 30px 0;
  text-align: center;
}

textarea {
  box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.1);
  font-family: inherit;
  font-size: 16px;
}

#choices {
  border: 0;
  height: 100px;
  margin-bottom: 10px;
  padding: 20px;
  width: 100%;
}

#choices:focus {
  outline: 0;
}

#tags {
  letter-spacing: 1px;
  padding: 10px;
}

.choice {
  background-color: rgb(179, 255, 255);
  box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.1);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 0 6px 10px 0;
  font-size: 14px;
}

.choice.highlight {
  background-color: rgb(65, 240, 202);
}
