@import url("https://fonts.googleapis.com/css2?family=Montserrat@1&display=swap");

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}
