@import url("https://fonts.googleapis.com/css2?family=Montserrat@1&display=swap");

:root {
  --primary-font-color: rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: rgb(0, 109, 211);
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.container {
  background-color: cornflowerblue;
  border-radius: 8px;
  padding: 60px 40px;
  width: 420px;
}

.container h1 {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 4px;
  margin-bottom: 50px;
  text-align: center;
}

.form-control {
  margin-bottom: 40px;
  position: relative;
}

input {
  background-color: inherit;
  border: 0;
  border-bottom: 2px solid #dbdfe0;
  font-size: 18px;
  height: 50px;
  padding: 12px 0;
  width: 100%;
  transition: border 0.2s ease-in;
}

input:focus {
  outline: 0;
  border-bottom: 2px solid rgba(1, 104, 201, 0.5);
}

input:focus + label span,
input.filled + label span {
  transform: translateY(-30px);
}

.form-control label {
  font-size: 18px;
  left: 0;
  position: absolute;
  top: 15px;
}

label span {
  display: inline-block;
  min-height: 5px;
  transition: transform 0.2s ease-in;
  margin-right: 3px;
}

button {
  border-radius: 4px;
  border: 0;
  color: var(--primary-font-color);
  cursor: pointer;
  font-size: 18px;
  height: 36px;
  letter-spacing: 3px;
  margin: 20px 0;
  transition: all 0.3s linear;
  width: 100%;
}

button:hover {
  font-size: 16px;
  transform: scale(0.98);
}

p {
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: rgb(1, 88, 170);
}
